project_name = "three-tier-app"

environment = "dev"

vpc_cidr = "10.0.0.0/16"

az_count = 2

single_nat_gateway = true

tags = {
  Project = "three-tier-app"
  Owner   = "DevOps"
}

domain_name = "dev.domphil.org"

origin_domain_name = "origin-dev.domphil.org"

route53_hosted_zone_id = "YOUR_HOSTED_ZONE_ID"